In [10]:
#Python Set is a collection which is Unordered, Uchangeable and do not allow duplicate value
s={2, 4, 5,6, 7}
print(s)
print(type(s))
print(id(s))
for i in s:
    print(i)
    
print(2 in s)

{2, 4, 5, 6, 7}
<class 'set'>
1673764644096
2
4
5
6
7
True

In [12]:
#Add item to set
s= {2, 4,6,7}
s.add(8)
print(s)
s1 = {"apple", "cherr", "mango"}
s1.add("kiwi")
print(s1)

{2, 4, 6, 7, 8}
{'cherr', 'kiwi', 'apple', 'mango'}

In [13]:
#update() method to add elements from one set to another.
s1={2, 4, 6, 8}
s2 = {10, 12, 14}
s1.update(s2)
print(s1)

{2, 4, 6, 8, 10, 12, 14}

In [16]:
#Adding list items to set item by using update() method
s={"apple", "cherry", "mango"}
l=[2, 4, 6, 7, 8]
s.update(l)
print(s)
print(type(s))

{2, 4, 6, 7, 8, 'cherry', 'apple', 'mango'}
<class 'set'>

In [24]:
#Remove set Item
s={"apple", "cherry", "mango", 2, 100, 4}
s.remove(2)
s.pop()
s.discard(2)
s.discard("mango")
s.clear()
print(s)

set()

In [38]:
# Join Set
# 1. union() =>returns a new set
# 2. update()
# 3. intersection_update()
# 4. intersection() => return a new set
# 5. symmetric_difference_update()
# 6. symmetric_difference()
s1={1,2, 4,6, 8,10}
s2={1, 3, 5, 6,7, 10}
#s1.update(s2)
s=s1.union(s2)
print(s3)
# s1.intersection_update(s2)
# print(s1)
s4=s1.intersection(s2) #return new set
print(s4)
s1.symmetric_difference_update(s2)
print(s1)

s5=s1.symmetric_difference(s2) #return new set
print(s5)

{1, 2, 3, 4, 5, 6, 7, 8, 10}
{1, 10, 6}
{2, 3, 4, 5, 7, 8}
{1, 2, 4, 6, 8, 10}